.header-bg {
  background-color: var(--cor-1);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 60px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-right: 64px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
}

.header-menu a:hover {
  color: var(--cor-p1);
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    /*background: var(--cor-1);*/
    padding: 16px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--cor-p0);
    border-bottom: solid 2px var(--cor-p1);
  }

  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
/*     background: var(--cor-2);
    color: var(--cor-p1);
 */    padding: 16px 12px;
  }
}
